
{% extends 'wrapper.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/faqs.css' %}">
    <title>Home | Blackrich.io</title>
    <div class="container">


        <h1 class="faq-title">Frequently Asked Questions</h1>

        <main class="main-container">
            
            <!-- <div class="list-group">
                <a
                   class="list-group-item list-group-item-action faq-item" >
                  <div class="d-flex justify-content-between">
                    <h5 class="mb-1">How to hire someone ?</h5>
                  </div>
                  <p class="mb-1">
                    Search for talents to hire, contact them by sending a message ( we allow communication outside our platform ). After you finish the job don't forget to leave a review so others can know more about the person you hired
                  </p>
                </a>
                <a
                   class="list-group-item list-group-item-action faq-item" >
                  <div class="d-flex justify-content-between">
                    <h5 class="mb-1">How to find a job ?</h5>
                  </div>
                  <p class="mb-1">
                    click on the "Find work" link on navbar, browse jobs and apply for the jobs that fits your skills. a message will be sent to job provider telling them about your application
                  </p>
                </a>
                <a
                   class="list-group-item list-group-item-action faq-item" >
                  <div class="d-flex justify-content-between">
                    <h5 class="mb-1">How to promote my Profile ?</h5>
                  </div>
                  <p class="mb-1">
                    Click on the account icon at the right of navbar, then click on promote. fill out the informations and after we review your profile, it will be announced successfully.
                  </p>
                </a>
   </a>
                <a
                   class="list-group-item list-group-item-action faq-item" >
                  <div class="d-flex justify-content-between">
                    <h5 class="mb-1">How to promote my Profile ?</h5>
                  </div>
                  <p class="mb-1">
                    Click on the account icon at the right of navbar, then click on promote. fill out the informations and after we review your profile, it will be announced successfully.
                  </p>
                </a>
            </div>
            
          -->




          <!-- <div class="faq-header">Frequently Asked Questions</div> -->

          <div class="faq-content">
            <div class="faq-question">
              <input id="q1" type="checkbox" class="panel">
              <div class="plus">+</div>
              <label for="q1" class="panel-title">
                How do I create a profile?
                </label>
              <div class="panel-content">
                Creating a profile is easy! Simply fill in your details, highlight your skills and experience, and showcase your portfolio.
              </div>
            </div>
            
            <div class="faq-question">
              <input id="q2" type="checkbox" class="panel">
              <div class="plus">+</div>
              <label for="q2" class="panel-title">What skills and experience can I list?</label>
              <div class="panel-content">
                List any skills relevant to the type of freelance work you offer. Be specific and include keywords clients might search for. Highlight your experience with past projects and include links to your portfolio.              </div>
            </div>
            <div class="faq-question">
              <input id="q3" type="checkbox" class="panel">
              <div class="plus">+</div>
              <label for="q3" class="panel-title">Is there a cost to create a profile?</label>
              <div class="panel-content">
                creating a profile is totally free 
              </div>
            </div>

            <div class="faq-question">
              <input id="q4" type="checkbox" class="panel">
              <div class="plus">+</div>
              <label for="q4" class="panel-title">How do I find projects that are a good fit for me?</label>
              <div class="panel-content">
                Use our advanced search filters to find projects matching your skills, experience level, and budget.
              </div>
            </div>
            <div class="faq-question">
              <input id="q5" type="checkbox" class="panel">
              <div class="plus">+</div>
              <label for="q5" class="panel-title">How do I update my profile information?</label>
              <div class="panel-content">
                You can easily update your profile information at any time through your account settings.              </div>
            </div>
            <div class="faq-question">
              <input id="q6" type="checkbox" class="panel">
              <div class="plus">+</div>
              <label for="q6" class="panel-title">How do I search for freelancers?</label>
              <div class="panel-content">
                Use our advanced search filters to find freelancers with the specific skills and experience you require for your project.              
              </div>
            </div>
            <div class="faq-question">
              <input id="q7" type="checkbox" class="panel">
              <div class="plus">+</div>
              <label for="q7" class="panel-title">How do I post a project?</label>
              <div class="panel-content">
                Posting a project is simple! Provide a clear description of your needs, including project scope, budget, and desired timeline.            
            </div>
          </div>
            
            <div class="faq-question">
              <input id="q8" type="checkbox" class="panel">
              <div class="plus">+</div>
              <label for="q8" class="panel-title">How do I communicate with freelancers?</label>
              <div class="panel-content">
                You can communicate with freelancers via sending them messages through their profiles</div>
          </div>





























        </main>


        







<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Social media</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Instagram</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Youtube</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Discord</a></li>

        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Legal</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Terms & Conditions</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Contact us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">contact@blackrich.io</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="email" class="form-control" placeholder="Email address" required>
            <input class="btn btn-dark" type="submit" value="Subscribe">
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>&copy; 2024 Blackrich.io  &#x2022; All rights reserved.</p>
    </div>
  </footer>
</div>

    </div>


{% endblock content %}