<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Blackrich.io</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>




<body>
    <div class="container">

        <header class="p-3 mb-3 border-bottom">
            <div class="container">
              <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <span class="brand">MonArtisan</span>
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a href="find-work.html" class="nav-link px-2 link-body-emphasis " >Find work</a></li>
                  <li><a href="hire-talents.html" class="nav-link px-2 link-body-emphasis ">Hire Talents</a></li>
                  <li><a href="post-job.html" class="nav-link px-2 link-body-emphasis ">Post job</a></li>
                  <li><a href="faqs.html" class="nav-link px-2 link-body-emphasis ">FAQs</a></li>
                </ul>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="" method="get">
                  <input type="search" class="form-control" placeholder="Search" aria-label="Search">
                </form>
                <div class="dropdown text-end">
                  <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                  </a>
                  <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Inbox (34)</a></li>
                    <li><a class="dropdown-item" href="#">Saved</a></li>
                    <li><a class="dropdown-item" href="#">Promote</a></li>
                    <li><a class="dropdown-item" href="#">Posted jobs</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>

                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item " href="#">Sign out</a></li>
                  </ul>
                </div>
              </div>
            </div>
        </header>















        
        <div class="main-container">
            

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Share this link</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input class="form-control" type="text" id="myInput" value="uplazy.com/account/qowefho23oe23" aria-label="Disabled input example"  readonly>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>


            <section class="profile-details">
                <img src="images/profile-photo-2.jpeg" alt="profile-image" class="profile-photo">
                <div class="profile-details-info">
                    <div>
                        <div class="profile-name-aligner">
                            <h1 class="profile-name poppins-bold">J.Sweeter</h1><p class="profile-seprator">|</p><h3 class="profile-username">@jsweeter1</h3>
                        </div>
                        <h5 class="profile-rating poppins-regular">4.5/5 ( 46 reviews )</h5>
                        <h5 class="profile-hourly-rate">$ 15 /hour</h5>
                    </div>
                  
                    <h3 class="profile-job">Content creator | Lead Generation Expert</h3>
                </div>
                <div class="profile-buttons">
                    <a href="settings.html" class="send-message">Edit Profile</a>
                    <button type="button" class="share" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Share profile
                    </button>
                </div>
            </section>
            <hr>

            <section class="profile-about-section">
                <h2>About</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quaerat unde beatae et minus cum, repellat ut necessitatibus facilis maxime nisi cupiditate blanditiis, magni tenetur fugiat. Nesciunt mollitia ullam maiores sequi ipsam laboriosam nemo repellendus perspiciatis, reiciendis iusto possimus dolorem optio laudantium esse aliquid? Doloribus placeat perspiciatis odio animi fugit eligendi qui fugiat sunt molestiae vel dicta, amet nobis iusto deserunt aut, excepturi, vero ex quisquam expedita sint numquam aliquid ducimus. Esse molestiae, quos magni, nulla rem fuga rerum nihil corrupti eaque porro, fugit dicta ratione? Esse suscipit ipsam et, consequatur minima libero saepe at explicabo commodi quas! Totam minima animi cum distinctio neque recusandae culpa et ab, quia voluptas hic provident possimus quaerat nisi, sint perferendis doloremque ut veniam?</p>
            </section>

            <section class="profile-reviews-section">
                <h2 class="poppins-regular">Reviews</h2>
                

                <div class="profile-review-section">
                    <img src="images/profile-photo.jpg" alt="" class="reviewer-picture">
                    <div>
                        <a href=""><h5>A.graoui</h5></a>
                         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi consequatur cum, aut deleniti laudantium, dolore earum perferendis molestias, cupiditate animi quas tenetur explicabo. Beatae a exercitationem ullam illo doloribus veniam nulla maiores deleniti veritatis laborum, quaerat suscipit autem tenetur in voluptas, corrupti magni ducimus ad itaque dolores atque facere nobis labore!</p>
                    </div>
                </div>
                <div class="profile-review-section">
                    <img src="images/profile-photo-3.jpeg" alt="" class="reviewer-picture">
                    <div>
                        <a href=""><h5>A.noman</h5></a>
                         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi consequatur cum, aut deleniti laudantium, dolore earum perferendis molestias, cupiditate animi quas tenetur explicabo. Beatae a exercitationem ullam illo doloribus veniam nulla maiores deleniti veritatis laborum, quaerat suscipit autem tenetur in voluptas, corrupti magni ducimus ad itaque dolores atque facere nobis labore! Deleniti corrupti mollitia, iste natus expedita molestias est doloremque, qui illo velit id amet nisi ea dolor at? Quas nemo eum.</p>
                    </div>
                </div>

            </section>





















        </div>


        
























<div class="container">
  <footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Social media</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Instagram</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Youtube</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Discord</a></li>

        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Legal</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Terms & Conditions</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Contact us</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">contact@blackrich.io</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="email" class="form-control" placeholder="Email address" required>
            <input class="btn btn-dark" type="submit" value="Subscribe">
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>&copy; 2024 Blackrich.io  &#x2022; All rights reserved.</p>
    </div>
  </footer>
</div>

    </div>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const inputField = document.getElementById('myInput');

            inputField.addEventListener('click', () => {
                inputField.select();
            });
        });
    </script>
</body>
</html>